<form class="form-signin" (ngSubmit)="login()" *ngIf="!usuarioLogueado">
    <h2 class="form-signin-heading">Acceso</h2>
    <label class="sr-only">Usuario</label>
    <input type="text" class="form-control" placeholder="Usuario" autofocus [(ngModel)]="username" name="username">
    <label class="sr-only">Contraseña</label>
    <input type="password"class="form-control" placeholder="Contraseña" [(ngModel)]="password" name="password">
    <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
  </form>

  <button class="btn-lg btn-danger btn-block" (click)="logout()" *ngIf="usuarioLogueado">Logout</button>
